@charset "utf-8";

.container{
    border:8%;
    margin: 8%;
}

body{
    border:8%;
    margin:8%;
}

largeText{
    font-size: 1.8em;
}

.centerText{
    text-align: center;
}

.centerItems{
    align-items: center;
}

.heavyText {
    font-weight: bold;
}

.lighterText{
    font-weight: lighter;
}

img {
    display: flex;
    width: 20%;
    max-width: 100%;
    padding: 15px;
}